:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  padding: 2rem;
  display: block;
}

header {
  background: url("/header.jpg") no-repeat center;
  background-size: cover;
  height: 230px;
  width: 100%;
  display: block;
}

.table-row, #attractionData :is(thead tr, tbody tr) {
  border: 1px solid #d0d0d0;
  padding: 1rem;
  margin: 1rem;
  flex-direction: row;
  max-width: 100%;
  display: flex;
}

.table-col, #attractionData :is(thead th, tbody td) {
  padding-right: 1rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  /* align-self: center;    <---- REMOVE */
  width:200px;
  align-items: center; 
  color: #d0d0d0;
  word-break: break-word;
  white-space:normal;
  vertical-align: top;
}

/* table header */
#attractionData thead tr {
  background-color: #043c3f;
}

#attractionData .dataTables_scrollBody > table > thead > tr {
  display: none;
  height: 0px !important;
}

#attractionData .dataTables_scrollHeadInner table { 
  margin-bottom: 0px !important; 
}

#attractionData .dataTables_wrapper :is(.dataTables_filter, .dataTables_info){
  color: #d0d0d0;
}

.loadMoreContainer {
  text-align:center;
  margin:2em 0;
}

input[type="file"] {
  display: none;
}

#addData {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align:center;
  margin-bottom: 30px ;
}

.attractionDataFile {
  background-color: #2a2929;
  border: 2px solid #d0d0d0;
  display: inline-block;
  padding: 6px 12px;
  width: 60%;
  height: 26px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.attractionDataFile:hover {
  background-color: #2d2d2d;
  border: 1px solid #d0d0d0;
}

.img {
  height: 50px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:disabled {
  background-color: #3f3d3d;
  cursor: not-allowed;
  transition: border-color 0.25s; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
